/* fonts */

* {
  font-family: FreeSerif, Times, serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: FreeSans, Helvetica, sans-serif;
}

/* div */
div {
  padding: 0.5em;
  line-height: 1.25em;
}
