/* fonts */
h1, h2, h3, h4, h5, h6, body {
  font-family: FreeSans, Helvetica, Arial, sans-serif;
}

body, div {
  font-size: 1em;
}

/* lists on index page */
ul {
  line-height: 1.5em;
}

/* div */
div {
  padding: 0.25em;
  line-height: 1em;
  font-family: FreeSerif, Times, Times New Roman, serif;
}
