/* fonts */
h1, h2, h3, h4, h5, h6, body {
  font-family: FreeSans, Helvetica, sans-serif;
}

body, div {
  font-size: 12pt;
}

/* div */
div {
  padding: 0.5em;
  line-height: 1.25em;
  font-family: FreeSerif, Times, serif;
}
